@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.falling-text-container {
  position: relative;
  z-index: 1;
  width: 97%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  padding-top: 2em;
  top: -12.5vw;
  margin-right: 3%;
  mask-image: linear-gradient(to bottom, 
      rgba(0, 0, 0, 0) 55%,
      rgba(0, 0, 0, 1) 55%   
  );
  user-select: none;
  pointer-events: none;
}

  
  .falling-text-target {
    display: inline-block;
  }
  
  .word {
    display: inline-block;
    margin: 0 2px;
    user-select: none;
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
    color: #7FFF00;
    text-transform: uppercase;
    font-size: 2.7vw;
    border: #7FFF00 0.2vw solid;
    border-radius: 0.3vw;
    padding: 2px;
  }
  
  .highlighted {
    color: cyan;
    font-weight: bold;
  }
  
  .falling-text-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    user-select: none;
  }
  
  @media screen and (min-width: 768px) and (max-width:1024px) { 

    .falling-text-container {
      padding-top: 0em;
      top: -15vw;
      height: 30vh;
    }

    .falling-text-canvas {
      top: 14%;
    }

    .word {
      font-size: 4vw;
    }

  }

  @media screen and (max-width: 768px){

    .falling-text-container {
      padding-top: 0em;
      top: -20vh;
      height: 40vh;
    }

    .falling-text-canvas {
      top: 14%;
    }

    .word {
      font-size: 6vw;
    }

  }