.Section1 {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 3% 0 3%;
    gap: 1%;
    box-sizing: border-box;
    background-color: #efefef;
  
    .custom-scroll-text {
      font-family: "Gochi Hand", cursive;
      font-weight: 400;
      font-style: normal;
    }
  
    .VelocityLong {
      position: absolute;
      transform: rotate(-15deg);
      background-color: greenyellow;
    }
  
    .VelocityShort {
      position: absolute;
      transform: rotate(25deg);
      left: -12%;
      background-color: rgb(0, 0, 0);
      color: greenyellow;
    }
  
    .heroTextMain {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      justify-content: center;
      background-color: blue;
  
      #heroText {
        padding: 0;
        margin: 0;
        line-height: 1;
        font-size: 24vh;
        color: #000;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
    }
  
    .heroNegative {
      height: 64vh;
      width: 100%;
    }
  
    .heroTextFiller {
      height: 12vh;
      width: 100%;
      display: flex;
      justify-content: space-between;
  
      #heroScroll {
        display: flex;
        align-self: center;
        line-height: 1.5;
        font-size: 1.2vw;
        color: #000;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
  
        div {
          background-image: url(../../assets/arrow.png);
          width: 2vw;
          height: 2vw;
          background-size: cover;
        }
      }
  
      #heroFillerText {
        width: 75%;
        align-self: center;
        line-height: 1.5;
        font-size: 1vw;
        color: #000;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
  
      span {
        font-weight: 600;
      }
    }
  }

@media screen and (min-width: 768px) and (max-width:1024px){
  .Section1 {

    .VelocityShort {
      transform: rotate(35deg);
      left: -20%;
    }

    .heroTextMain {
      align-self: center;
      margin-top: -3%;
      width: 100vw;

      #heroText {
        font-size: 22vh;
      }
    }
    
    .heroNegative {
      height:40vh;
    }
    
    .heroTextFiller {
      justify-content: center;
      height: 36vh;
      flex-direction: column;

        #heroScroll {
          font-size: 3vw;
          order: 1;
            div {
              width: 6vw;
              height: 6vw;
            }
        }
        
        #heroFillerText {
          font-size: 3vw;
          text-align: center;
          order: 0;
          mix-blend-mode: difference;
          color: #fff;
          font-weight: 200;
        }
      
    }
}
}

@media screen and (max-width: 768px) {
  .Section1 {

    .VelocityShort {
      transform: rotate(65deg);
      left: -70%;
      z-index: 10;
    }

    .VelocityLong {
      z-index: 10;
    }

    .heroTextMain {
      align-self: center;
      margin-top: 40%;
      margin-left: -60%;
      transform: rotate(-90deg);
        #heroText {
          font-size: 14vh;
        }
    }
    
    .heroTextFiller {
      justify-content: center;
      height: 50vh;
      flex-direction: column;

        #heroScroll {
          font-size: 4vw;
          order: 1;
            div {
              width: 6vw;
              height: 6vw;
            }
        }
        
        #heroFillerText {
          font-size: 4.5vw;
          text-align: center;
          order: 0;
          mix-blend-mode: difference;
          color: #fff;
          font-weight: 200;
          width: 90%;
        }
      
    }
}
}