.Section5 {
    display: flex;
    height: 50.117vw;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 3% 3% 0 3%;
    gap: 2vw;
  
    #AccoladesHead {
      margin: 0;
      display: flex;
      align-self: flex-start;
      line-height: 1;
      font-size: 4vw;
      color: #000;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
      background-color: #1F51FF;
    }
  
    #AccoladesContainer {
      width: 70vw;
      height: 30vw;
      display: flex;
      align-items: center;
      justify-content: center;
  
      span {
        display: inline;
  
        &:not(:last-child)::after {
          content: " ";
        }
      }
  
      p {
        color: rgb(112, 112, 112);
        font-family: "Poppins", sans-serif;
        font-style: normal;
        margin: 0.4vw;
        position: relative;
        width: auto;
      }
  
      #ac1 {
        font-size: 4vw;
        font-weight: 500;
        top: -15%;
        left: 80%;
      }
  
      #ac2 {
        font-size: 5vw;
        font-weight: 500;
        top: -20%;
        left: 80%;
      }
  
      #ac3 {
        font-size: 4vw;
        font-weight: 500;
        top: -11%;
        left: 80%;
      }
  
      #ac4 {
        font-size: 7vw;
        font-weight: 700;
        top: -17%;
        left: 80%;
      }
  
      #ac5 {
        font-size: 7vw;
        font-weight: 700;
        top: 0%;
        left: -2%;
      }
  
      #ac6 {
        font-size: 3vw;
        font-weight: 400;
        top: 4%;
        left: -2%;
      }
  
      #ac7 {
        font-size: 4vw;
        font-weight: 500;
        top: 3%;
        left: -2%;
      }
  
      #ac8 {
        font-size: 4vw;
        font-weight: 500;
        top: 19%;
        left: -85%;
      }
  
      #ac9 {
        font-size: 3vw;
        font-weight: 400;
        top: 17%;
        left: -85%;
      }
  
      #ac10 {
        font-size: 5vw;
        font-weight: 500;
        top: 20%;
        left: -85%;
      }
  
      #ac11 {
        font-size: 3vw;
        font-weight: 500;
        top: 18%;
        left: -85%;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width:1024px){ 
    .Section5 {
      height: 100vw;

      #AccoladesHead {
        font-size: 10vw;
      }

      #AccoladesContainer  {
        height: 70vw;

        #ac1 {
          font-size: 5vw;
          top: -13%;
          left: 128%;
        }

        #ac2 {
          font-size: 8vw;
          top: -17%;
          left: 128%;
        }

        #ac3 {
          font-size: 5vw;
          top: -15%;
          left: 128%;
        }

        #ac4 {
          font-size: 6vw;
          top: -4%;
          left: 35%;
        }

        #ac5 {
          font-size: 5vw;
          top: -5%;
          left: 35%;
        }

        #ac6 {
          font-size: 8vw;
          top: -5%;
          left: 35%;
        }

        #ac7 {
          font-size: 7vw;
          top: 7%;
          left: -59%;
        }

        #ac8 {
          font-size: 5vw;
          top: 5%;
          left: -59%;
        }

        #ac9 {
          font-size: 6vw;
          top: 6%;
          left: -59%;
        }

        #ac10 {
          font-size: 6vw;
          top: 17%;
          left: -140%;
        }

        #ac11 {
          font-size: 6vw;
          top: 15%;
          left: -140%;
        }
    }

    }
  }

  @media screen and (max-width: 768px)  {

    .Section5 {
      height: 150vw;

      #AccoladesHead {
        font-size: 13vw;
      }

      #AccoladesContainer  {
        height: 120vw;

        #ac1 {
          font-size: 10vw;
          top: -13%;
          left: 190%;
        }

        #ac2 {
          font-size: 12vw;
          top: -17%;
          left: 190%;
        }

        #ac3 {
          font-size: 9vw;
          top: 23%;
          left: 128%;
        }

        #ac4 {
          font-size: 7vw;
          top: -4%;
          left: 35%;
        }

        #ac5 {
          font-size: 10vw;
          top: -5%;
          left: 35%;
        }

        #ac6 {
          font-size: 8vw;
          top: -5%;
          left: 35%;
        }

        #ac7 {
          font-size: 7vw;
          top: 4%;
          left: -59%;
        }

        #ac8 {
          font-size: 10vw;
          top: 6%;
          left: -59%;
        }

        #ac9 {
          font-size: 8vw;
          top: 3%;
          left: -200%;
        }

        #ac10 {
          font-size: 9vw;
          top: 13%;
          left: -210%;
        }

        #ac11 {
          font-size: 7vw;
          top: 15%;
          left: -200%;
        }
    }

    }

  }