.Section5 {
    display: flex;
    height: 50.117vw;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 3% 3% 0 3%;
    gap: 2vw;
  
    #AccoladesHead {
      margin: 0;
      display: flex;
      align-self: flex-start;
      line-height: 1;
      font-size: 4vw;
      color: #000;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
      background-color: blue;
    }
  
    #AccoladesContainer {
      width: 70vw;
      height: 30vw;
      display: flex;
      align-items: center;
      justify-content: center;
  
      span {
        display: inline;
  
        &:not(:last-child)::after {
          content: " ";
        }
      }
  
      p {
        color: rgb(112, 112, 112);
        font-family: "Poppins", sans-serif;
        font-style: normal;
        margin: 0.4vw;
        position: relative;
        width: auto;
      }
  
      #ac1 {
        font-size: 4vw;
        font-weight: 500;
        top: -15%;
        left: 80%;
      }
  
      #ac2 {
        font-size: 5vw;
        font-weight: 500;
        top: -20%;
        left: 80%;
      }
  
      #ac3 {
        font-size: 4vw;
        font-weight: 500;
        top: -11%;
        left: 80%;
      }
  
      #ac4 {
        font-size: 7vw;
        font-weight: 700;
        top: -17%;
        left: 80%;
      }
  
      #ac5 {
        font-size: 7vw;
        font-weight: 700;
        top: 0%;
        left: -2%;
      }
  
      #ac6 {
        font-size: 3vw;
        font-weight: 400;
        top: 4%;
        left: -2%;
      }
  
      #ac7 {
        font-size: 4vw;
        font-weight: 500;
        top: 3%;
        left: -2%;
      }
  
      #ac8 {
        font-size: 4vw;
        font-weight: 500;
        top: 19%;
        left: -85%;
      }
  
      #ac9 {
        font-size: 3vw;
        font-weight: 400;
        top: 17%;
        left: -85%;
      }
  
      #ac10 {
        font-size: 5vw;
        font-weight: 500;
        top: 20%;
        left: -85%;
      }
  
      #ac11 {
        font-size: 3vw;
        font-weight: 500;
        top: 18%;
        left: -85%;
      }
    }
  }