/* Hide the default browser cursor */
body {
  cursor: none;
}

/* Default custom cursor (triangle) */
.custom-cursor-bg {
  position: fixed;
  width: 1vw;
  height: 1vw;
  background-color: #ff506d;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-33%, -18%) rotate(-43deg);
  transition: 
    width 0.2s ease, 
    height 0.2s ease, 
    clip-path 0.7s ease, 
    transform 0.7s ease,
    filter 0.7s ease;
  clip-path: polygon(60% 0%, 0% 100%, -5% 105%, 100% 100%);
  shape-rendering: crispEdges;
  /* Glow via drop-shadow filter */
  filter: drop-shadow(0 0 20px rgba(255, 80, 109, 0.8));
}

.custom-cursor-bg.active {
  width: 3vw;
  height: 3vw;
  clip-path: circle(50% at 50% 50%);
  transform: translate(-33%, -18%) rotate(720deg);
  filter: drop-shadow(0 0 40px rgba(255, 80, 109, 0.9));
}

.custom-cursor-text {
  position: fixed;
  font-size: 0.7vw;
  font-family: sans-serif;
  pointer-events: none;
  z-index: 10000;
  transform: translate(-25%, 80%);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  transition: font-size 0.2s ease;
}

/* Additional CSS for elastic cursor state in StatsSection */
.custom-cursor-bg.elastic {
  width: 3vw;
  height: 3vw;
  clip-path: circle(50% at 50% 50%);
  transform: translate(-33%, -18%) rotate(720deg);
  filter: drop-shadow(0 0 40px rgba(255, 80, 109, 0.9));
  transition: transform 0.7s ease, width 0.2s ease, height 0.2s ease;
}

.custom-cursor-emoji {
  position: fixed;
  pointer-events: none;
  z-index: 10000;
  transform: translate(-25%, -10%);
  font-size: 1.5vw;
  
}
