.header {
  position: fixed;
  right: 1.5vw;
  top: 60px;
  z-index: 1000;
}

.menu {
  width: 3vw;
  height: 3vw;
  overflow: hidden;
  background-color: #c9fd74;
  border-radius: 2vw;
  position: relative;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.active {
  background-color: black;
}

.icon {
  width: 14px;
  height: 1px;
  background-color: black;
  position: relative;
  transition: background-color 0.3s;
}

.icon::before,
.icon::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 1px;
  background-color: black;
  transition: transform 0.3s;
}

.icon::before {
  top: -4px;
}

.icon::after {
  top: 4px;
}

.icon.close {
  background-color: transparent;
}

.icon.close::before {
  transform: rotate(45deg);
  top: 0;
  background-color: #c9fd74;
}

.icon.close::after {
  transform: rotate(-45deg);
  top: 0;
  background-color: #c9fd74;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw 3vw;
  height: 100%;
  box-sizing: border-box;
}

.body {
  display: flex;
  gap: 0.8vw;
  flex-direction: column;
}

.linkContainer {
  perspective: 120px;
  perspective-origin: bottom;
}

.linkContainer a {
  text-decoration: none;
  color: black;
  font-size: 2vw;
  opacity: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.2;
}

.footer {
  display: flex;
  flex-wrap: wrap;
}

.footer a {
  width: 50%;
  margin-top: 5px;
  text-decoration: none;
  color: black;
}

/* Media query to hide all elements below 768px */
@media (max-width: 768px) {
  .header,
  .menu,
  .button,
  .button.active,
  .icon,
  .icon::before,
  .icon::after,
  .icon.close,
  .icon.close::before,
  .icon.close::after,
  .nav,
  .body,
  .linkContainer,
  .linkContainer a,
  .footer,
  .footer a {
    visibility: hidden;
  }
}