.parallax {
  position: relative;
  overflow: hidden;
  width: 140vw;
}

.scroller {
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-family: sans-serif;
  font-size: 6vw;
  font-weight: bold;
  letter-spacing: -0.02em;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
}

.scroller span {
  flex-shrink: 0;
}

@media screen and (min-width: 768px) and (max-width:1024px){

  .scroller {
    font-size: 15vw;
    line-height: 15vw;
  }

}

@media screen and (max-width: 768px) {

  .parallax {
    width: 300vw;
  }

  .scroller {
    font-size: 25vw;
    line-height: 25vw;
  }

}